@charset "UTF-8";
/* Body */
form{
	display: inline-block;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  width: 50%;
  text-align: left;
}
td {
  vertical-align: bottom;
}
th, td {
  padding: 15px;
  text-align: left;
}
tr:nth-child(even) {background-color: #f2f2f2;}
th {
  background-color: #73713b;
  color: white;
}

.Add_more_button{
	position:relative;
	left: 12%;
	display: inline;
}
body {
	font-family: source-sans-pro;
	background-color: #f2f2f2;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}
/* Container */
.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height: 1000px;
	background-color: #FFFFFF;
}
/* Navigation */
a {
  color: #fff;
  font-size: 1em;
  font-weight: bold;
}


/* header */

.header {
  background-color: #73716A;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  width: 90%;
  position: fixed;
  z-index: 3;
  border-bottom: 3px solid #38b6ff;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 12px 20px;
  border-top: 1px solid #38b6ff;
  text-decoration: none;
  background-color: #54534e;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #8a8880;
}

.header .logo {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  text-align: undefined;
  width: 10%;
  float: left;
  margin-top: 5px;
  margin-left: 25px;
  letter-spacing: 4px;
  font-size: 30px;
  margin-bottom: 5px;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
  color: #fff
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 55em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 15px 30px;
    /*border-right: none;*/
    border-top: none;
    background-color: #73716A;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/* Footer */
.footer {

  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #73716A;
  color: white;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 1%;
  padding-top: 1%;
}
.hero_header {
	color: #FFFFFF;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 4px;
	vertical-align: text-top;
}
/* Hero Section */
.hero {
	background-color: #B3B3B3;
	padding-top: 150px;
	padding-bottom: 150px;
	background-image: url("file:///Macintosh HD/Users/lovisalittbrand/Documents/ims-project/diabeatit_logo.png");
	background-repeat: no-repeat;
	background-position: center;
}
.information_head {
	color: #FF00FF;
	font-weight: bold;
	font-size: 30px;
}
.nutritional_h1 {
	color: #FF00FF;
	font-weight: bold;
	font-size: 30px;
	width: 100%;
	float: left;
}
.nutritional_h2 {
	color: #FF00FF;
	font-weight: bold;
	font-size: 20px;
	width: 100%;
	float: left;
}
.light {
	font-weight: bold;
	color: #717070;
}
.tagline {
	text-align: center;
	color: #FFFFFF;
	margin-top: 4px;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 1px;
}
/* About Section */
.text_column {
	width: 90%;
	font-weight: lighter;
	line-height: 25px;
	text-align: left;
	padding-right: 3em;
	padding-left: 3em;
	color: #A3A3A3;
}
.about {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 35px;
	display: inline-block;
	background-color: #FFFFFF;
	margin-top: 0px;
}
/* Stats Gallery */
.stats {
	color: #717070;
	margin-bottom: 5px;
}
.gallery {
	clear: both;
	display: inline-block;
	width: 100%;
	background-color: #FFFFFF;
	/* [disabled]min-width: 400px;
*/
	padding-bottom: 35px;
	padding-top: 0px;
	margin-top: -5px;
	margin-bottom: 0px;
}
.thumbnail {
	width: 25%;
	text-align: center;
	float: left;
	margin-top: 35px;
}
.gallery .thumbnail h4 {
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	color: #52BAD5;
}
.gallery .thumbnail p {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #A3A3A3;
}

/* More info */
.button {
	width: 200px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #FFFFFF;
	color: #FFFFFF;
	transition: all 0.3s linear;
}
.button:hover {
	background-color: #FEFEFE;
	color: #C4C4C4;
	cursor: pointer;
}

.hidden {
	display: none;
}

 /*Responsive webpage */
@media screen and (max-width:55em) {
  .container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 1000px;
	background-color: #FFFFFF;
}
   .header {
	width: 100%;

}
.text_column {
        width: 79%;
	text-align: justify;
	line-height: 25px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	color: #A3A3A3;
	font-size: 20px;
	color: black;
}
.about {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 35px;
	display: inline-block;
	background-color: #FFFFFF;
	margin-top: 0px;
}
.header_text{
        width: 100%;

}
.footer {
  padding-bottom: 5%;
  padding-top: 5%;
}
}
